<!-- Page that show all NAD devices in a table and redirect to the specific query page of a device. 
    The redirection can be manually triggered by a "Query Device" link in each table row and thereby 
    for each NAD device. -->

    {% extends "masterPage.html" %}

    {% block content %}
    <div class="row">
    
        <!-- Left Rail -->
        {% include "menu.html" %}
    
        <!-- Middle + Right Rail -->
        <div class="col-9 col-xl-10 col-md-9">
            <div class="section">
                
                <div class="headline">
                    <h2>Device List</h2>
                </div>
    
                <!--Alert for error message-->
                {% include "alert.html" %}
                <div class="form-group form-group--inline">
                    <div class="form-group__text">
                        <input type="text" id="SwitchInput" onkeyup="SearchFunction()" placeholder="Search for device">
                    </div>
                </div>
                
                <form action="/deviceList" method="POST">
    
                    {% if device_list and error != true %}
    
                    <div class="responsive-table">
                        <table class="table table--lined table--selectable" id="SwitchTable" >
                            <thead>
                                <tr>
                                    <th class="w-50">Device Name</th>
                                    <th class="w-50">Device IP</th>
                                </tr>
                            </thead>
                            <tbody>
    
                                {% for key, value in device_list.items() %}
                                    <tr>
                                        <td>
                                            {{key}}
                                        </td>
                                        <td>
                                            <a class="listitem" href="switchView?ip_address={{value}}">
                                                {{value}}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
    
                            </tbody>
                        </table>
                    </div>
    
                    {% else %}
                        <div class="no_query">
                            No devices available.
                        </div>
                    {% endif %}
    
                </form>
            </div>
        </div>
    </div>
    <script>
        function SearchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("SwitchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("SwitchTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    {% endblock %}