<!-- Menu for all other pages -->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">
        
        <li class="sidebar__item">
            <a href="/" title="Device List">
                <span class="icon-devices"></span>
                <span>Device List</span>
            </a>
        </li>

        <li class="sidebar__item">
            <a href="/deviceQuery" title="Device Query">
                <span class="icon-device-reload"></span>
                <span>Device Query</span>
            </a>
        </li>

        <li class="sidebar__item">
            <a href="/voucher" title="Voucher">
                <span class="icon-tags"></span>
                <span>Vouchers</span>
            </a>
        </li>

        <li class="sidebar__item">
            <a href="/endpointQuery" title="Endpoint Query">
                <span class="icon-endpoint"></span>
                <span>Endpoint Query</span>
            </a>
        </li>

    </ul>
</nav>

