<!-- This page shows an empty page with MAC address query field and button 
    or a list of queried endpoint devices with associated auth status. -->

{% extends "masterPage.html" %}

{% block content %}
<div class="row">

    <!-- Left Rail -->
    {% include "menu.html" %}

    <!-- Middle + Right Rail -->
    <div class="col-9 col-xl-10 col-md-9">
        <div class="section">
            
            <div class="headline">
                <h2>Vouchers</h2>
            </div>

            <!--Alert for error message-->
            {% include "alert.html" %}
            
            <div class="form-group form-group--inline">
                <div class="form-group__text">
                    <input type="text" id="VoucherInput" onkeyup="SearchFunction()" placeholder="Search voucher">
                </div>
            </div>
            
            {%if new_voucher%}
                <div class="alert alert--success">
                    <div class="alert__icon icon-check-outline"></div>
                    <div class="alert__message">New voucher successfully added!</div>
                </div>
            {% endif %}

            {%if deleted_voucher%}
                <div class="alert alert--success">
                    <div class="alert__icon icon-check-outline"></div>
                    <div class="alert__message">Voucher successfully deleted!</div>
                </div>
            {% endif %}

            <button type="button" class="btn" onclick="openModal('modal-small')"
                style="float:right;">Add Voucher</button>
            
            <!--Voucher lists-->  

            {% set hosts_available = namespace(value=False) %}
            {% set ports_available = namespace(value=False) %}
            <!--Host Voucher list-->
                <form id="voucher_revoke_form" class="dbl-padding-top"  action="/voucher" method="POST">

                    <div class="table_headline">Host Vouchers</div>

                    <div class="responsive-table">
                        <table class="VoucherTable table table--lined table--selectable table">
                            <thead>
                                <tr>
                                    <th class="w-20">MAC Address</span></th>
                                    <th class="w-20">Voucher Group</span></th>
                                    <th class="w-20">Expiration Time (UTC)</th>
                                    <th class="w-20">Created by</th>
                                    <th class="w-20">Revoke</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for voucher in voucher_list %}
                                    {% if voucher.type == 'host' %}
                                    {% set hosts_available.value = True %}
                                    <tr>
                                        <td>
                                            <a class="listitem" href="endpointQuery?mac_address={{voucher.mac}}">
                                                {{voucher.mac}}
                                            </a>
                                        </td>
                                        <td>
                                            {{voucher.group}}
                                        </td>
                                        <td>
                                            {{voucher.ExpDate}}
                                        </td>
                                        <td>
                                            {{voucher.user}}
                                        </td>
                                        <td>
                                            <input type="hidden" name="host_mac" value="{{voucher.mac}}">
                                            <button name="voucher_sumbit" value="revoke_host"
                                                class="btn btn--link link_btn" type="submit" onclick="showLoadingText(this)"
                                                onload="showOriginalText(this, 'Revoke')">Revoke</button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
               
                </form>
                {% if hosts_available.value == False %}
                    <div class="no_query">No host vouchers available yet.</div>
                {% endif %}

            <!--Port Voucher list-->
            <form id="voucher_revoke_form" class="dbl-padding-top" action="/voucher" method="POST">
                <div class="table_headline">Port Vouchers</div>

                <div class="responsive-table">
                    <table class="VoucherTable table table--lined table--selectable table">
                        <thead>
                            <tr>
                                <th class="w-20">Switch IP Address</span></th>
                                <th class="w-20">Interface</span></th>
                                <th class="w-20">Expiration Time (UTC)</th>
                                <th class="w-20">Created by</th>
                                <th class="w-20">Revoke</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for voucher in voucher_list %}
                                {% if voucher.type == 'port' %}
                                {% set ports_available.value = True %}
                                <tr>
                                    <td>
                                        <a class="listitem" href="switchView?ip_address={{voucher.switch_ip}}">
                                            {{voucher.switch_ip}}
                                        </a>
                                    </td>
                                    <td>
                                        {{voucher.interface}}
                                    </td>
                                    <td>
                                        {{voucher.ExpDate}}
                                    </td>
                                    <td>
                                        {{voucher.user}}
                                    </td>
                                    <td>
                                        <input type="hidden" name="port_switch_ip" value="{{voucher.switch_ip}}">
                                        <input type="hidden" name="port_interface" value="{{voucher.interface}}">
                                        <input type="hidden" name="port_command" value="{{voucher.command}}">
                                        <button name="voucher_sumbit" value="revoke_port"
                                            class="btn btn--link link_btn" type="submit" onclick="showLoadingText(this)"
                                            onload="showOriginalText(this, 'Revoke')">Revoke</button>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
            {% if ports_available.value == False %}
                <div class="no_query">No port vouchers available yet.</div>
            {% endif %}


            <!--Add Voucher Modal-->
            <div class="modal modal--small hide" id="modal-small">
                <div class="modal__dialog">
                    <div class="modal__content">
                        <a class="modal__close" onclick="closeModal('modal-small')"><span class="icon-close"></span></a>
                        
                        <div class="modal__header">
                            <div class="modal__title">Add Voucher</div>
                        </div>
                        
                        <div class="modal__body">
                            <p class="subtitle">

                                <form id="voucher_add_form" action="/voucher" method="POST">

                                    <div class="form-group">
                                        <div class="form-group__text">
                                            <input type="text" value="{{mac_address}}"
                                                name="mac_address_field" required 
                                                pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$">
                                            <label for="input-layout-inline-1">MAC Address</label>
                                        </div>
                                        <div class="help-block" role="alert">
                                            <span>Format: xx:xx:xx:xx:xx:xx</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group base-margin-bottom base-margin-top">
                                            <div class="form-group__text select">
                                                <select name="voucher_duration" id="select-type-basic">
                                                    <option value="2">2 Hours</option>
                                                    <option value="8">8 Hours</option>
                                                    <option value="48">48 Hours</option>
                                                </select>
                                                <label for="select-type-basic">Duration</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group base-margin-bottom base-margin-top">
                                            <div class="form-group__text select">
                                                <select name="voucher_group" id="select-type-basic">
                                                    <option value="AAA-Vouchers">Group A</option>
                                                    <option value="BBB-Vouchers">Group B</option>
                                                    <option value="CCC-Vouchers">Group C</option>
                                                </select>
                                                <label for="select-type-basic">Voucher Group</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button value="add" name="voucher_sumbit" class="btn btn--primary" type="submit"
                                            onclick="showLoadingText(this)"
                                            onload="showOriginalText(this, 'Add')">Add</button>
                                    </div>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    function SearchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("VoucherInput");
        filter = input.value.toUpperCase();
        table = document.getElementsByClassName("VoucherTable");
        for(j = 0; j < table.length; j++){
            tr = table[j].getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>

{% endblock %}

